/* Variables de color */
@define-color foreground #bfbdb6;
@define-color background #0b0e14;
@define-color blue #53bdfa;
@define-color green #7fd962;
@define-color yellow #f9af4f;
@define-color red #ea6c73;

/* Estilos base */
* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @background;
}

/* Workspaces */
#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @background;
  color: @foreground;
}

#workspaces button:hover {
  color: @background;
  background-color: @foreground;
}

#workspaces button.active {
  background-color: @background;
  color: @blue;
}

#workspaces button.active label {
  color: @blue;
}

#workspaces button.urgent {
  background-color: @background;
  color: @red;
}

/* Módulos */
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris,
#battery,
#bluetooth {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @background;
  color: @foreground;
}

#mpris.playing {
  color: @green;
}

#mpris.paused {
  color: @foreground;
}

#custom-sep {
  padding: 0px;
  color: @foreground;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @blue;
}

#memory {
  color: @yellow;
}

#clock {
  color: @blue;
}

#clock.simpleclock {
  color: @blue;
}

#window {
  color: @foreground;
}

#pulseaudio {
  color: @blue;
}

#pulseaudio.muted {
  color: @red;
}

/* Batería */
#battery.charging {
  color: @green;
}

#battery:not(.charging) {
  color: @yellow;
}

#battery.full {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

/* Bluetooth */
#bluetooth.connected {
  color: @blue;
}

#custom-logo {
  color: @blue;
}

#custom-power {
  color: @red;
}

tooltip {
  background-color: @background;
  border: 2px solid @blue;
}
